<div class="inline-block m-4">
  <a routerLink="/shop-list" class="flex items-center">
    <mat-icon
      [inline]="true"
      aria-hidden="false"
      fontIcon="arrow_back"
      class="size-2 m-2"
    ></mat-icon>
    Go Back To Pizzeria Selection (this action will clear your cart)
  </a>
</div>

<div class="px-8 flex flex-col items-center pb-8">
  <h1 class="text-2xl mb-4">Our Menu:</h1>
  <div class="flex flex-wrap justify-center gap-4 max-w-[1000px]">
    @for (pizza of pizzas(); track $index) {
    <app-pizza-item [pizza]="pizza"></app-pizza-item>
    }
  </div>
</div>
