<div class="inline-block m-4">
  <a [routerLink]="['/shop-list', selectedShop().id]" class="flex items-center">
    <mat-icon
      [inline]="true"
      aria-hidden="false"
      fontIcon="arrow_back"
      class="size-2 m-2"
    ></mat-icon>
    Go Back To Pizza selection
  </a>
</div>

<app-cart-table
  [selectedShop]="selectedShop()"
  [cartPizzas]="cartPizzas()"
  (deletePizzasById)="deletePizzasById($event)"
></app-cart-table>

<app-confirm-order [cartPizzas]="cartPizzas()" [selectedShop]="selectedShop()"></app-confirm-order>
